<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.hsenidCore.Student" name="student1"
          p:studentAddress="Dhaka, Bangladesh"
          p:studentAge="26"
          p:studentID="7877"
          p:studentName="Abdullah Al-Mamun" />
    <bean class="org.hsenidCore.Student" name="student2"
          p:studentAddress="Dhaka, Bangladesh"
          p:studentAge="23"
          p:studentID="3436"
          p:studentName="Ahad Islam" />




</beans>















        <!--        <property name="studentID" value="7877" />-->
        <!--        <property name="studentAge" value="26" />-->
        <!--        <property name="studentName" value="Abdullah Al-Mamun" />-->
        <!--        <property name="studentAddress" value="Gulshan, Dhaka" />-->
        <!--    </bean>-->